ENVIRONMENT=dev
DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/mydb
BASE_API_PATH=/api/v1
PROJECT_NAME="FastAPI Backend"
LOG_LEVEL=INFO
WHITELISTED_ORIGINS=http://localhost:1234,http://localhost:4321
